{% extends 'base.html' %}

{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Cattle Works</title>
  </head>
  <body>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


<br/>
<br/>

<style type="text/css">
    input[type=text], select {
    width: 100%;
    padding: 7px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

/* Style the submit button */
    .btn {
    width: 300px;
    background-color: #198754;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  label {
  display: inline;
  width: 140px;
  text-align: right;
}​

/* Add a background color to the submit button on mouse-over */
  input[type=submit]:hover {
    background-color: #45a049;
  }
 
</style>


{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
  <form id="MainForm" action="{% url 'SignUp_saveBulls' %}" enctype='multipart/form-data' method="post">
    <div class="d-flex flex-wrap">
      {% csrf_token %}
        <label class="p-3" for="{{ form.tagnum.id_for_label }}" style="font-family:serif"><b>Tag Number</b></label>
        {{ form.tagnum }}
        <!--
        <label for="{{ form.sex.id_for_label }}" value="Cow" style="font-family:serif"><b>Sex</b></label>
        -->
        <input class="p-3" name="sex" for="{{ form.sex.id_for_label }}" value="3" hidden=True/>
        <label class="p-3" for="{{ form.age.id_for_label }}" style="font-family:serif"><b>Age</b></label>
        {{ form.age }}
        <label class="p-3" for="{{ form.color.id_for_label}}" style="font-family:serif"><b>Color</b></label>
        {{ form.color }}
        <label class="p-3" for="{{ form.owner.id_for_label}}" style="font-family:serif"><b>Owner</b></label>
        {{ form.owner }}
        <label class="p-3" for="{{ form.pasture.id_for_label }}" style="font-family:serif"><b>Pasture</b></label>
        {{ form.pasture }}
        <label class="p-3" for="{{ form.comments.id_for_label}}" style="font-family:serif"><b>Comments</b></label>
        {{ form.comments }}
        <label class="p-3" for="{{ form.pic.id_for_label }}" style="font-family:serif"><b>Image</b></label>
        {{ form.pic }}
        <button type="signup" class="btn mx-auto m-3" style="font-family:serif">Submit</button>

    </div>

  </form>
 
<div class="d-flex flex-wrap flex-row justify-content-center"> 

  {% for x in data %}


    <form action="/EditPost/{{x.id}}/">
      <div class="p-3">
        <div class="card" style="width: 20rem;">
          <img src="/media/{{x.pic}}" style="width:318px;height:211px;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tag Number: {{x.tagnum}}</h5>
            <h5 class="card-title">Age: {{x.age}}</h5>
            <h5 class="card-title">Color: {{x.color}}</h5>

            {% if x.owner_id == 1 %}
              <h5 class="card-title">Owner: David Jackson</h5>
            {% endif %}
            {% if x.owner_id == 0 %}
              <h5 class="card-title">Owner: Brad Amos</h5>
            {% endif %}
            <h5 class="card-title">Sex: Bull</h5>
            {% if x.pasture_id == 1 %}
              <h5 class="card-title">Pasture: Benton County</h5>
            {% endif %}
            {% if x.pasture_id == 2 %}
              <h5 class="card-title">Pasture: Feed Mill</h5>
            {% endif %}
            {% if x.pasture_id == 3 %}
              <h5 class="card-title">Pasture: Maysville</h5>
            {% endif %}
            {% if x.pasture_id == 4 %}
              <h5 class="card-title">Pasture: Caswell</h5>
            {% endif %}
            {% if x.pasture_id == 5 %}
              <h5 class="card-title">Pasture: Obrian</h5>
            {% endif %}
            {% if x.pasture_id == 6 %}
              <h5 class="card-title">Pasture: No Place</h5>
            {% endif %}
            <h5 class="card-title">Comments: {{x.comments}}</h5>
            <button type="signup" class="editbtn" style="font-family:serif">Edit</button>
          </div>
        </div>
      </div>
    </form>

  {% endfor %} 
</div>
<br/>
<hr/>

{% endblock %}