{% extends 'base.html' %}
 
{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Cattle Works</title>
  </head>
  <body>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


<br/>
<br/>
<style type="text/css">
    input[type=text], select {
    width: 100%;
    padding: 7px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

/* Style the submit button */
    .btn {
    width: 10%;
    background-color: #198754;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

/* Add a background color to the submit button on mouse-over */
  input[type=submit]:hover {
    background-color: #45a049;
  }
</style>


<style type="text/css">
    .btn-outline-success {
      display: none
  }
    .tag {
      display: none
  }

    .sex {
    display: none
  }

    .age {
    display: none
  }

    .color {
    display: none
  }

    .comments {
    display: none
  }

    .sire {
    display: none
  }

    .dam {
    display: none
  }

    .pasture {
    display: none
  }

    .owner {
    display: none
  }
    .pic {
      display: none
    }
</style>



{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
  <form id="msform" action="{% url 'SignUp_saveCalves' %}" enctype='multipart/form-data' method="post" class="form-inline">
    {% csrf_token %}
    <fieldset>
      <label for="tagnum" style="font-family:serif"><b>Tag Number</b></label>
      <input type="text" placeholder="Enter Tag number" name="tagnum" required>

      <label for="sex" style="font-family:serif"><b>Sex</b></label>
      <select id="sex" name="sex" style="font-family:serif">
        <option value="Male Calf" style="font-family:serif">Male Calf</option>
        <option value="Female Calf" style="font-family:serif">Female Calf</option>
      </select>

      <label for="sire" style="font-family:serif"><b>Sire Tag Number</b></label>
      <input type="text" name="sire" required>

      <label for="dam" style="font-family:serif"><b>Dam Tag Number</b></label>
      <input type="text" name="dam" required>

      <label for="Age" style="font-family:serif"><b>Age</b></label>
      <input type="text" name="age" required>

      <label for="Color" style="font-family:serif"><b>Color</b></label>
      <input type="text" name="color">

      <label for="owner" style="font-family:serif"><b>Owner</b></label>
      <select id="owner" name="owner">
        <option value="Brad Amos">Brad Amos</option>
        <option value="David Jackson">David Jackson</option>
      </select>

      <label for="pasture" style="font-family:serif"><b>Pasture</b></label>
      <select id="pasture" name="pasture">
        <option value="Benton County">Benton County</option>
        <option value="Feed Mill">Feed Mill</option>
        <option value="Maysville">Maysville</option>
        <option value="Caswell">Caswell</option>
        <option value="Obrian">Obrian</option>
        <option value="No Place">No Place</option>

      </select>  


      <label for="comments" style="font-family:serif"><b>Comments</b></label>
      <input type="text" name="comments">

      <label for="pic" style="font-family:serif"><b>Image</b></label>
      
      <input type="file" name="pic"  accept="image/png"/>


      <button type="signup" class="btn" style="font-family:serif">Submit</button>
    </fieldset>
  </form>
<br/>
<hr/>
<div class="container">
    <div class="row">
      {% for calves in calf %}

          <form method="POST" action="{% url 'DeletePost' %}" style="width: 20rem; padding: auto; ">
            {{form1.as_p}}
          <form   method="POST" action="{% url 'EditPost' %}" style="width: 20rem; padding: auto; ">
            {{form2.as_p}}
          {% csrf_token %}
            <div class="col-md-3 px-sm-3">
              <div class="card" style="width: 20rem;">
                <img name=image src="/media/{{ calves.pic }}" style="width:318px;height:211px;" class="card-img-top" alt="...">
                <div class="card-body">

                  <input id="{{ calves.pic }}" class="pic" name="pic" value="{{ calves.pic }}">

                  <input id="{{ calves.tagnum }}" class="tag" name="tagnum" value="{{ calves.tagnum }}">
                  <h5 class="card-title" name="tagnum" style="font-family:serif">Tag: {{ calves.tagnum }}</h5>

                  <input id="{{ calves.sex }}{{ calves.tagnum }}" class="sex" name="sex" value="{{ calves.sex }}">
                  <p class="card-text" name="sex" style="font-family:serif">Sex: {{ calves.sex }}</p>
                  
                  <input id="{{ calves.age }}{{ calves.tagnum }}" class="age" name="age" value="{{ calves.age }}">
                  <p class="card-text" name="age" style="font-family:serif">Age: {{ calves.age }}</p>

                  <input id="{{ calves.color }}{{ calves.tagnum }}" class="color" name="color" value="{{ calves.color }}">
                  <p class="card-text" name="color" style="font-family:serif">Color: {{ calves.color }}</p>

                  <input id="{{ calves.comments }}{{ calves.tagnum }}" class="comments" name="comments" value="{{ calves.comments }}">
                  <p class="card-text" name="comments" style="font-family:serif">Comments: {{ calves.comments }}</p>

                  <input id="sire{{ calves.sire }}{{ calves.tagnum }}" class="sire" name="sire" value="{{ calves.sire }}">
                  <p class="card-text" name="sire" style="font-family:serif">Sire: {{ calves.sire }}</p>

                  <input id="dam{{ calves.dam }}{{ calves.tagnum }}" class="dam" name="dam" value="{{ calves.dam }}">
                  <p class="card-text" name="dam" style="font-family:serif">Dam: {{ calves.dam }}</p>

                  <input id="{{ calves.pasture }}{{ calves.tagnum }}" class="pasture" name="pasture" value="{{ calves.pasture }}">
                  <p class="card-text" name="pasture"  style="font-family:serif">Pasture: {{ calves.pasture }}</p>

                  <input id="{{ calves.owner }}{{ calves.tagnum }}" class="owner" name="owner" value="{{ calves.owner }}">
                  <p class="card-text"  name="owner"  style="font-family:serif">Owner: {{ calves.owner }}</p>
                  <button name="btnform1" type="submit"  class="btn-outline-danger" style="font-family:serif">Delete</button>
                  <script type="text/javascript">


                    function tagnum{{ calves.tagnum }}() {
                      var tag{{ calves.tagnum }} = document.getElementById("{{ calves.tagnum }}");

                      var submit = document.getElementById("Submit");


                      tag{{ calves.tagnum }}.style.display = "block";
                      Submit{{ calves.tagnum }}.style.display = "block";

                      

                      var sex{{ calves.tagnum }} = document.getElementById("{{ calves.sex }}{{ calves.tagnum }}");

                      var age{{ calves.age }} = document.getElementById("{{ calves.age }}{{ calves.tagnum }}");

                      var color{{ calves.color }} = document.getElementById("{{ calves.color }}{{ calves.tagnum }}");

                      var comments{{ calves.comments }} = document.getElementById("{{ calves.comments }}{{ calves.tagnum }}");

                      var sire{{ calves.sire }} = document.getElementById("sire{{ calves.sire }}{{ calves.tagnum }}");

                      var dam{{ calves.dam }} = document.getElementById("dam{{ calves.dam }}{{ calves.tagnum }}");

                      var pasture{{ calves.tagnum }} = document.getElementById("{{ calves.pasture }}{{ calves.tagnum }}");

                      var owner{{ calves.tagnum }} = document.getElementById("{{ calves.owner }}{{ calves.tagnum }}");


                      

                     
                      sex{{ calves.tagnum }}.style.display = "block";

                      
                      age{{ calves.age }}.style.display = "block";

                     
                      color{{ calves.color }}.style.display = "block";

                     
                      comments{{ calves.comments }}.style.display = "block";

                      
                      sire{{ calves.sire }}.style.display = "block";

                      
                      dam{{ calves.dam }}.style.display = "block";

                      
                      pasture{{ calves.tagnum }}.style.display = "block";

                      
                      owner{{ calves.tagnum }}.style.display = "block";


                    }

                    function submit{{ calves.tagnum }}() {
                      
                      var tag{{ calves.tagnum }} = document.getElementById("{{ calves.tagnum }}");

                      var sex{{ calves.tagnum }} = document.getElementById("{{ calves.sex }}{{ calves.tagnum }}");

                      var age{{ calves.age }} = document.getElementById("{{ calves.age }}{{ calves.tagnum }}");

                      var color{{ calves.color }} = document.getElementById("{{ calves.color }}{{ calves.tagnum }}");

                      var comments{{ calves.comments }} = document.getElementById("{{ calves.comments }}{{ calves.tagnum }}");

                      var sire{{ calves.sire }} = document.getElementById("sire{{ calves.sire }}{{ calves.tagnum }}");

                      var dam{{ calves.dam }} = document.getElementById("dam{{ calves.dam }}{{ calves.tagnum }}");

                      var pasture{{ calves.tagnum }} = document.getElementById("{{ calves.pasture }}{{ calves.tagnum }}");

                      var owner{{ calves.tagnum }} = document.getElementById("{{ calves.owner }}{{ calves.tagnum }}");

                      var submit = document.getElementById("Submit{{ calves.tagnum }}");

                      

                      submit.style.display = "none";
                      tag{{ calves.tagnum }}.style.display = "none";

                      submit.style.display = "none";
                      sex{{ calves.tagnum }}.style.display = "none";

                      submit.style.display = "none";
                      age{{ calves.age }}.style.display = "none";

                      submit.style.display = "none";
                      color{{ calves.color }}.style.display = "none";

                      submit.style.display = "none";
                      comments{{ calves.comments }}.style.display = "none";

                      submit.style.display = "none";
                      sire{{ calves.sire }}.style.display = "none";

                      submit.style.display = "none";
                      dam{{ calves.dam }}.style.display = "none";

                      submit.style.display = "none";
                      pasture{{ calves.tagnum }}.style.display = "none";

                      submit.style.display = "none";
                      owner{{ calves.tagnum }}.style.display = "none";


                    }


                  </script>
                  <button type="button" name="btnform2" onclick="tagnum{{ calves.tagnum }}()" class="btn-outline-secondary" style="font-family:serif">Edit</button>

                  <button name="btnform2" type="submit" id="Submit{{ calves.tagnum }}" onclick="submit{{calves.tagnum}}()" class="btn-outline-success" style="font-family:serif">Update</button>
                </div>
              </div>
              <br/>
            </div>
          </form>

      {% endfor %}
    </div>
  </div>



{% endblock %}