{% extends 'base.html' %}

{% block content %}

<style type="text/css">
	.container1 {
	  margin: auto;
	  width: 50%;
	  border: 3px #198754;
	  padding: 10px;
	}
</style>



<div class="container1">
	<div class="card" style="width: 58rem;">
	  <div class="card-body">
	    <h5 class="card-title" style="font-family:Copperplate Gothic">Head In Pastures</h5>
	    <p class="card-text" style="font-family:Copperplate Gothic">Benton County: {{ BC }}</p>
	    <p class="card-text" style="font-family:Copperplate Gothic">Feed Mill: {{ FM }}</p>
	    <p class="card-text" style="font-family:Copperplate Gothic">Maysville: {{ MV }}</p>
	    <p class="card-text" style="font-family:Copperplate Gothic">Caswell: {{ CW }}</p>
	    <p class="card-text" style="font-family:Copperplate Gothic">Obrian: {{ OB }}</p>
	    <p class="card-text" style="font-family:Copperplate Gothic">No Place: {{ NP }}</p>
	  </div>
	</div>
</div>













































{% endblock %}